<div>
<p>
  <strong>Grade:</strong>
  <%= @grade.grade_level %>
</p>


<%= link_to 'New Grade', new_grade_path %>
<%= link_to 'Edit', edit_grade_path %>
<%= link_to 'Back', grades_path %>

</div>
