<h1>Renert choice friday E-sheet - Parent</h1>

<h2>Parents</h2>

<p>Needs to have link to their students, including the offerings that the student has signed up for</p>
<p>Later on when everything else is done might also allow parents to see the complete set of offerings</p>