<% content_for :page_title, "Student"%>
<h1>Renert choice friday E-sheet - Student</h1>

<h2>Students</h2>
<p>Needs to have list of chosen offerings for current round of choices, be able to print a timetable, and choose offerings</p>
<p>Later on need to deal with the negotiation process for offerings and changes</p>
<p>Note, This is (so far) the only page that sets the page title, using the <tt>content_for :page_title, "Student"</tt> construct. All other views that need specific page titles should have this same content_for tag at the top of the source for the view.</p>